/* Colors are cherry-picked from Atom One Light */

.line-nums { padding-right: 10px; }

.code.container { padding: 10px 20px; }

.attribute { color: #606135; }

.constant, .number { color: #986801; }

.function, .constructor { color: #4078F2; }

.keyword, .repeat { color: #A626A4; font-style: strong; }

.operator { color: #383A42; }

.property { color: #E45649; }

.punctuation { color: #A0A1A7; }

.string { color: #50A14F; }

.tag { color: #383A42; }

.escape { color: #0184BC; }

.type, .label { color: #C18401; }

.variable { color: #E45649; }

.comment { color: #A0A1A7; font-style: italic; }
